<div class="container mt-3">
  <!--Section: Blog v.3-->
  <section class="section pt-4">
    <h1 class="section-heading light-blue-text h1">Code Examples</h1>
    <!--Section description-->
    <p class="section-description">Below is a list of code examples, either sections of completed projects or just small programs.</p>
    <!--Grid row-->
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-lg-4 mb-4">
        <!--Featured image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img class="img-fluid" src="assets/Maze Solver.png">
          <a routerLink="/code-examples/maze-solver">
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-7 mb-4">
        <!--Excerpt-->
        <div href="" class="blue-text"><h6 class="pb-1"><i class="fa fa-code"></i><strong> Java </strong></h6></div>
        <h4 class="mb-4"><strong>Maze Solver</strong></h4>
        <p class="text-justify">
          A simple java application that takes in mazes via a file and then solves them, printing the solution to the console. This small project was given to me as a technical test.
        </p>
        <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/code-examples/maze-solver">Read more</a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <hr class="mb-5">
    <!--
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img class="img-fluid" src="assets/Case Simulator Logo.png">
          <a routerLink="/portfolio/case-simulator">
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-7 mb-4">
        <div href="" class="blue-text"><h6 class="pb-1"><i class="fa fa-code"></i><strong> Node.js, Angular, Firebase </strong></h6></div>
        <h4 class="mb-4"><strong>Dyanmic Form</strong></h4>
        <p class="text-justify">A dynamic form that I created when working for Digital Brand Accelerator. I needed a form that could have elements dynamically added or removed, and then have the final form submitted and processed into a firebase database.</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/code-examples/dynamic-form">Read more</a>
      </div>
    </div>
    -->
  </section>
  <!--Section: Blog v.3-->
</div>
