<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
      <h1 class="section-heading light-blue-text h1" style="display: inline-block;">All In Software</h1>
      <button type="button" class="btn btn-warning btn-sm waves-light float-right" mdbRippleRadius onclick="window.open('https://digitalbrandaccelerator.co.uk/allin-peter-flade','_blank')"><i class="fa fa-external-link mr-1"></i> All In Website </button>

      <p class="text-justify">For this project I was tasked with creating an HR training application for mobile phones, accompanied by an online content management system. This software is used by some major companies, such as GKN, a major multinational automotive and 
         aerospace components company. The Digital Brand Accelerator website advertising this software can be seen <a href="https://digitalbrandaccelerator.co.uk/allin-peter-flade" target="_blank">here.</a>
      </p>
      <p class="text-justify">Created from the ground up, I decided to go with natively coded phone apps so that they feel natural to the platform, as well as Node.js, Angular 5, and Firebase for the CMS.</p>
      <h2 class="feature-title light-blue-text">The CMS</h2>
      <!--Grid row-->
      <div class="row features-small">
         <!--Grid column-->
         <div class="col-lg-5 mb-r center-on-small-only">
            <img src="assets/All In CMS.jpg" class="img-fluid">
         </div>
         <!--Grid column-->
         <!--Grid column-->
         <div class="col-lg">
            <!--Grid row-->
            <div class="row pb-3">
               <div class="col">
                  <h5 class="feature-title light-blue-text">Users</h5>
                  <p class="text-justify">Users can be added by admins via a form page, and existing users can be edited and added to any number of groups that will change what modules are displayed to them via the app.</p>
               </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row pb-3">
               <div class="col">
                  <h5 class="feature-title light-blue-text">Groups</h5>
                  <p class="text-justify">Groups are used to separate and refine what content the users will be able to access on the app. These groups are assigned to modules.</p>
               </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row pb-3">
               <div class="col">
                  <h5 class="feature-title light-blue-text">Modules</h5>
                  <p class="text-justify">Modules are nested with sub-modules and lessons, with lessons being the main content the users see. Lessons consist of text, images and/or questions that can be rearranged on the fly using the custom built dynamic form.</p>
               </div>
            </div>
            <!--Grid row-->	      
         </div>
         <!--Grid column-->
      </div>
      <!--Grid row-->
      <h2 class="feature-title pt-4 light-blue-text">The App</h2>
      <!--Grid row-->
      <div class="row features-small">
         <!--Grid column-->
         <div class="col-lg">
            <!--Grid row-->
            <div class="row pb-3">
               <div class="col">
                  <h5 class="feature-title light-blue-text">Login</h5>
                  <p class="text-justify">Only users manually approved and added by management are allowed to access the content of the app, so a login screen is required. Fully integrated with a lost password reminder as well.</p>
               </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row pb-3">
               <div class="col">
                  <h5 class="feature-title light-blue-text">Modules</h5>
                  <p class="text-justify">Upon signing in the users will be presented with a list of Modules that are approved for them via the group they are assigned. Modules navigate down to sub-modules, and then to lessons.</p>
               </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row pb-3">
               <div class="col">
                  <h5 class="feature-title light-blue-text">Dynamic Content</h5>
                  <p class="text-justify">The modules list, as well as all lessons are all dynamically created based on the content delivered by the CMS. Lessons will navigate to the next lesson once completed based on what was specified. Data on these completed
                     lessons is then sent back to the CMS so that managers can collect data on their users.
                  </p>
               </div>
            </div>
            <!--Grid row-->	      
         </div>
         <!--Grid column-->
         <!--Grid column-->
         <div class="col-lg-4 mb-r center-on-small-only">
            <img src="assets/All In App.png" class="img-fluid">
         </div>
         <!--Grid column-->
      </div>
      <!--Grid row-->
   </section>
   <!--Section: Blog v.3-->
</div>
