<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
      <h1 class="section-heading light-blue-text h1">Contact</h1>
      <p class="text-justify">If you feel the need to get in contact with me, please use the form below. Alternatively, you can email me at <a href="mailto:matthew@bridgeman.me" target="_top">matthew@bridgeman.me</a>.</p>
      
      
      <!--Contact Form-->
	<div class="card card-body mt-5">
		<form action="https://formspree.io/matthew@bridgeman.me" method="POST">
		
		
		    <div class="md-form">
		        <i class="fa fa-user prefix grey-text"></i>
		        <input type="text" id="form3" name="name" class="form-control" name="name" mdbActive>
		        <label for="form3">Your name</label>
		    </div>
		
		    <div class="md-form">
		        <i class="fa fa-envelope prefix grey-text"></i>
		        <input type="text" id="form2" name="_replyto" class="form-control" name="_replyto" mdbActive>
		        <label for="form2">Your email</label>
		    </div>
		
		    <div class="md-form">
		        <i class="fa fa-pencil prefix grey-text"></i>
		        <textarea type="text" id="form8" name="message" class="md-textarea" style="height: 100px" mdbActive></textarea>
		        <label for="form8">Your message</label>
		    </div>
		
		    <div class="text-center">
		        <button class="btn btn-unique waves-light" mdbRippleRadius>Send <i class="fa fa-paper-plane-o ml-1"></i></button>
		    </div>
		
		</form>
    </div>
		<!--Contact Form-->
	  
   </section>
   <!--Section: Blog v.3-->
</div>
