<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
      <h1 class="section-heading light-blue-text h1">Portfolio</h1>
      <!--Section description-->
      <p class="section-description">Below is an ongoing list of past and current projects I have worked on.</p>
      <!--Grid row-->
      <div class="row mt-5">
         <!--Grid column-->
         <div class="col-lg-4 mb-4">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
               <img class="img-fluid" src="assets/All In Logo.png">
               <a routerLink="/portfolio/all-in">
                  <div class="mask"></div>
               </a>
            </div>
         </div>
         <!--Grid column-->
         <!--Grid column-->
         <div class="col-lg-7 mb-4">
            <!--Excerpt-->
           <div href="" class="blue-text"><h6 class="pb-1"><i class="fa fa-code"></i><strong> Java, Android, Node.js, Angular, Firebase </strong></h6></div>
            <h4 class="mb-4"><strong>All In - Digital Brand Accelerator</strong></h4>
            <p class="text-justify">Backed into a corner by slow developers with not much to show, I was tasked with a complete rework of their mobile HR training app and online content management system. After some research I decided to go down the path of utilising 
               Node.js, Angular 5, and Firebase to get the job done.
            </p>
            <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/portfolio/all-in">Read more</a>
         </div>
         <!--Grid column-->
      </div>
      <!--Grid row-->
      <hr class="mb-5">
      <!--Grid row-->
      <div class="row">
         <!--Grid column-->
         <div class="col-lg-4 mb-4">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
               <img class="img-fluid" src="assets/Case Simulator Logo.png">
               <a routerLink="/portfolio/case-simulator">
                  <div class="mask"></div>
               </a>
            </div>
         </div>
         <!--Grid column-->
         <!--Grid column-->
         <div class="col-lg-7 mb-4">
            <!--Excerpt-->
           <div href="" class="blue-text"><h6 class="pb-1"><i class="fa fa-code"></i><strong> Java, Android, MySQL </strong></h6></div>
            <h4 class="mb-4"><strong>Case Simulator App</strong></h4>
            <p class="text-justify">My first successful app, and one of the biggest encouragements I had to get into the programming world. What first started as a simple challenge for myself turned into one of the best decisions I could have made.</p>
            <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/portfolio/case-simulator">Read more</a>
         </div>
         <!--Grid column-->
      </div>
      <!--Grid row-->
   </section>
   <!--Section: Blog v.3-->
</div>
