<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
      <h1 class="section-heading light-blue-text h1" style="display: inline-block;">Case Simulator App</h1>
      <button type="button" class="btn btn-primary btn-sm waves-light float-right" mdbRippleRadius onclick="window.open('https://play.google.com/store/apps/details?id=com.synthdark.casesimulatorfree.android','_blank')"><i class="fa fa-android mr-1"></i> Case Simulator Play Store </button>
      <p class="text-justify">Case Simulator was the first mobile app I attempted after I graduated university, and I was finished with the first prototype within about a week. The project began with the simple idea of emulating the case opening feature that is so prevalent in 
         online video games nowadays, and was only supposed to be a small challenge to myself to learn the mobile platform. However, once I put it on the app store and noticed users were actually enjoying it, it quickly turned into a full-time development project.
      </p>
      <p class="text-justify">The app was developed using Java and the LibGdx library, which gave me access to a wide range of useful features for creating full screen games, as well as allowing me to fully test my code in a desktop environment. This significantly sped up development 
         times as I didn't have to wait for the emulator, and it was much quicker to debug issues. It also gave me the option of building and deploying the app on both Android and Apple phones, however the apple release never happened due to hardware requirements.
      </p>
      <p class="text-justify">The Play Store listing can be see <a href="https://play.google.com/store/apps/details?id=com.synthdark.casesimulatorfree.android" target="_blank">here</a>.</p>
      <div class="row mt-5 mb-5">
         <div class="col-md-6">
            <img src="assets/Case Simulator App 1.png" class="img-fluid">
         </div>
         <div class="col-md-6">
            <img src="assets/Case Simulator App 2.png" class="img-fluid">
         </div>
      </div>
      <h5 class="feature-title light-blue-text">Accurate Statistics</h5>
      <p class="text-justify">If I wanted the app the feel like the real thing, I had to make sure I had the correct statistics for what items you win when opening cases. For this, I used a combination of some previous case studies people had already written on
         the subject, as well as some of my own research by watching hours of case opening footage that was uploaded on youtube. I then used these gathered statistics for the basis of my app.
      </p>
      <h5 class="feature-title light-blue-text">Database System</h5>
      <p class="text-justify">For the apps database I utilised MySQL, which was used to keep track of all the different cases and items, as well as the users own inventory that they had collected.</p>
   </section>
   <!--Section: Blog v.3-->
</div>
