<div class="container mt-3">
  <!--Section: Blog v.3-->
  <section class="section pt-4">
    <h1 class="section-heading light-blue-text h1">Code Examples Section Added</h1>
    <p class="text-justify">
      So after a couple of phone calls with potential employers and recruitment agencies, it had become glaringly obvious that I had neglected a fairly important section of my website, and that is code examples. So I've opened up a
      <a href="https://github.com/MatthewBridgeman" target="_blank">GitHub</a> account and uploaded the first technical test I was given a few days ago. As well as this, I've added a <a routerLink="/code-examples">Code Examples</a>
      section to this website where I go in depth describing and explaining a few of the things I do in these examples.
    </p>
    <p class="text-justify">
      The first item I uploaded was a simple java application that reads in a maze and solves it. More can be read about that <a routerLink="/code-examples/maze-solver">here</a>.
    </p>
    <p class="text-justify">
      I have a few more things I'm looking to get uploaded in the coming days, such as a dynamic form I created when working with Digital Brand Accelerator on their <a routerLink="/portfolio/all-in">All In</a> CMS, as well as
      this website and some other bits and pieces of code.
    </p>
    <p class="text-justify">Until next time.</p>
  </section>
  <!--Section: Blog v.3-->
</div>
