<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
      <h1 class="section-heading light-blue-text h1" style="display: inline-block;">Resume </h1>
	    <button type="button" class="btn btn-danger btn-sm waves-light float-right" mdbRippleRadius  onclick="window.open('assets/Matthew Bridgeman - Resume.pdf','_blank')"><i class="fa fa-file-pdf-o mr-1"></i> Download PDF </button>
      <h4 class="font-bold light-blue-text pt-4">Personal Statement</h4>
      <p align="justify">Passionate about solving problems and the field of computing, programming has always been the perfect fit for me. The sense of accomplishment and satisfaction you get when crafting a working piece of software or solving a particular 
         problem is something I've always strived for. Fresh out of university, I began creating various mobile apps to learn the platform, managing to produce a successful app with over 3.5 million downloads. This experience taught me more than I could have 
         imagined as I learned from the many mistakes I made as a novice app developer, and as a result came out the other side a much better programmer. Ideally I would like to see myself working in a team of like-minded individuals working together towards a 
         common goal, sharing knowledge and furthering my understanding in software or game development.
      </p>
      <h4 class="font-bold light-blue-text">Skills</h4>
      <div class="row">
	      <div class="col-4">
		      <ul>
		         <li>Java</li>
		         <li>JavaScript</li>
		         <li>Node.js</li>
		         <li>Unity</li>
		      </ul>
	      </div>
	      <div class="col-4">
		      <ul>
		         <li>C#</li>
		         <li>Angular 5</li>
		         <li>Firebase</li>
		         <li>HTML</li>
		      </ul>
	      </div>
	      <div class="col-4">
		      <ul>
		         <li>CSS</li>
		         <li>PHP</li>
		         <li>MySQL</li>
		         <li>Git</li>
		      </ul>
	      </div>
	  </div>
      <h4 class="font-bold light-blue-text">Employment History</h4>
      <div class="font-italic light-blue-text">Digital Brand Accelerator Ltd - June 2017 to Present</div>
      <p class="font-italic">Tech Stack: Java, Android, TypeScript, Node.js, Angular 5, Firebase, JSON, Git.</p>
      <p align="justify">Sole programmer tasked with creating a mobile HR training app accompanied with a custom built online content management system from the ground up. The CMS is designed so HR managers can add new content to the phone app, 
      as well as push notifications and manage users with ease; whereas the phone app is designed to display said content to the users, as well as track their training progress and gather statistics.</p>
      <div class="font-italic light-blue-text">Self Employed - June 2014 to April 2016</div>
      <p class="font-italic">Tech Stack: Java, Android, LibGDX, MySQL.</p>
      <p align="justify">Developer and designer of a multitude of my own various android apps and prototype pc games, as well as maintaining and updating them throughout their life cycle. My most successful app being Case Simulator on the Android Play Store with 
      over 3.5 million downloads. Case Sim was designed to emulate the loot box and case opening feature that is so prevalent in online video games today, to give people the feeling of opening cases without any of the monetary involvement.</p>
      <h4 class="font-bold light-blue-text">Education</h4>
      <div class="font-italic light-blue-text">Kingston University for BSc (Hons) - 2010 to 2014</div>
      <p class="font-italic">Computer Science: Games Programming - 2:1 Attained</p>
      <p align="justify">Attending Kingston University, I learned and used a wide variety of tools and languages, primarily centred around the creation and development of video games. Below are some of the projects I was involved in.</p>
      <u>Unity3D Game:</u>            
      <div align="justify">A multi-level third-person shooter isometric game, with map objectives and basic enemy AI.</div>
      <ul>
         <li>Enemy AI using flocking behaviour from boids as well as attack/flee states dependent on current health.</li>
         <li>Several different types of enemies, each with different attacks and movement behaviours.</li>
         <li>Menu system with save and load feature that accurately saved your progress and reloads it.</li>
         <li>Animated models for both player and enemies, with edited animations for where the player is aiming.</li>
      </ul>
      <u>Networked Unity3D Game:</u>            
      <div align="justify">A simple multiplayer first-person shooter game with networking created using the Unity3D engine. A simple quakelike game where the first to 20 kills wins. This game was primarily focused on the networking sides of things.</div>
      <ul>
         <li>Simple lobby menu that lists games found on the network, which you can join by clicking on. You could also create your own game and assign it a name.</li>
         <li>Players will be able to see each other moving inside the game and interact with them. </li>
         <li>Collision detection between all players and bullets.</li>
         <li>The game world updated for everyone when players interact with it (e.g. one player picks up a power-up and it will disappear for everyone connected).</li>
      </ul>
      <u>SDL Game:</u>            
      <div align="justify">A 2D side-scrolling platformer using the SDL library.</div>
      <ul>
         <li>Tile-based level generation from text files, with basic tile bitmasking.</li>
         <li>Basic collision detection between player, enemies, tiles and spikes.</li>
         <li>Laser pointer that bounces off mirror tiles to complete puzzles and defeat boss character.</li>
      </ul>
      <h4 class="font-bold light-blue-text">Extracurricular</h4>
      <div class="font-italic light-blue-text">Vice President - Kingston University Video Game Society</div>
      <ul>
         <li>Won Society of the Year in 2012/13.</li>
         <li>Managed a committee of 8 other people who helped build the society.</li>
         <li>Managed a community of approximately 100 paid members and a following of approximately 300 students.</li>
         <li>Organised weekly events and maintained temporary LAN networks.</li>
      </ul>
      <div class="font-italic light-blue-text">Personal website/blog</div>
      <p class="text-justify">This current website, built with Node.js, Angular and Bootstrap, with Firebase as the backbone for the blog functionality. Developed using knowledge and technologies I learned from previous projects.</p>
      <h4 class="font-bold light-blue-text">References</h4>
      <div class="font-italic light-blue-text">Digital Brand Accelerator Ltd</div>
      <div>Laurent Brickell - Operations Director </div>
      <div>+44 7969 483 309</div>
      <p><a href="mailto:laurent@digitalbrandaccelerator.co.uk" target="_top">laurent@digitalbrandaccelerator.co.uk </a></p>       
   </section>
   <!--Section: Blog v.3-->
</div>
