<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
      <!--Section heading-->
      <h1 class="section-heading light-blue-text h1">Blog</h1>

     <!--Grid row-->
     <div class="row mt-5">
       <!--Grid column-->
       <div class="col-lg-4 mb-4">
         <!--Featured image-->
         <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
           <img class="img-fluid" src="assets/Maze Solver.png">
           <a routerLink="/blog/code-examples">
             <div class="mask"></div>
           </a>
         </div>
       </div>
       <!--Grid column-->
       <!--Grid column-->
       <div class="col-lg-7 mb-4">
         <!--Excerpt-->
         <div href="" class="blue-text"><h6 class="pb-1"><i class="fa fa-code"></i><strong> Code Examples </strong></h6></div>
         <h4 class="mb-4"><strong>Code Examples Section Added</strong></h4>
         <p class="text-justify">Just added a new section to my website to show off some code exmaples.</p>
         <p>23/03/2018</p>
         <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/blog/code-examples">Read more</a>
       </div>
       <!--Grid column-->
     </div>
     <!--Grid row-->
     <hr class="mb-5">
     <!--Grid row-->
     <div class="row mt-5">
       <!--Grid column-->
       <div class="col-lg-4 mb-4">
         <!--Featured image-->
         <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
           <img class="img-fluid" src="assets/Website Finished.png">
           <a routerLink="/blog/website-finished">
             <div class="mask"></div>
           </a>
         </div>
       </div>
       <!--Grid column-->
       <!--Grid column-->
       <div class="col-lg-7 mb-4">
         <!--Excerpt-->
         <div href="" class="blue-text"><h6 class="pb-1"><i class="fa fa-newspaper-o"></i><strong> Blog </strong></h6></div>
         <h4 class="mb-4"><strong>Website Finished!</strong></h4>
         <p class="text-justify">Just finished the main sections of this website, but there's still more to work on.</p>
         <p>15/03/2018</p>
         <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/blog/website-finished">Read more</a>
       </div>
       <!--Grid column-->
     </div>
     <!--Grid row-->
    
    
   </section>
   <!--Section: Blog v.3-->
</div>
