<div class="container mt-3">
   <!--Section: Blog v.3-->
   <section class="section pt-4">
    <h1 class="section-heading light-blue-text h1">Website Finished!</h1>
	  <p class="text-justify">So I've just finished working on this website. Took me a little longer than expected trying to optimise some things for mobile users but I finally got there. Nonetheless, I'm now ready to showcase my resume and any projects I've worked on.</p>
	  <p class="text-justify">I decided to create it using a combination of Node.js, Angular 5, Firebase and Bootstrap. The reasoning for this is that I've been using these technologies recently in current/previous projects, and I just really enjoy working with them.
	  While I could have gone with a simple wordpress blog or something, that just wouldn't have been as fun to work on, and doing it this way I have full control over how the website looks and feels. Using firebase was a no brainer for me, as it
	  provides free hosting along with full suite of features such as authentication, real-time databases, statistics, etc.</p>
	  <p class="text-justify">Now as for the firebase side of things for this website, very little of that has been set-up yet. I figured it was better to get the site up and running first, and then develop the database side of things in the background, as creating a custom 
	  content management system for the blog and portfolio would take a little time. Besides, this gives me some more content to blog about as I implement it.</p>
	  <p class="text-justify">Ideally I'll be posting a new blog post whenever I make progress in or start a new project, or even just about substantial events in my life. I have a lot to work on, and posting here will surely keep me motivated.</p>
	  <p class="text-justify">Until next time.</p>      
   </section>
   <!--Section: Blog v.3-->
</div>
