<div class="cover-image">
   <div class="container">
      <div class="d-flex align-items-center justify-content-center cover-content">
         <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
               <div class="intro-info-content text-center">
                  <h1 class="animated display-1 mb-2 wow fadeInDown c-h1" data-wow-delay="0.3s">MATTHEW <span class="indigo-text font-bold">BRIDGEMAN</span></h1>
                  <h5 class="animated font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Programmer & web developer</h5>
                  <a class="animated btn btn-blue btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/resume">Resume</a> 
                  <a class="animated btn btn-indigo btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s" routerLink="/portfolio">Portfolio</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="text-center">
   <div class="container">
      <div class="row">
         <!--Section: Features v.1-->
         <section class="section feature-box">
            <!--Section heading-->
            <h1 class="section-heading pt-4">About Me</h1>
            <!--Section description-->
            <p class="section-description lead grey-text">Hi, my name is Matthew and I'm a programmer based in London, UK.</p>
            <!--Grid row-->
            <div class="row features-big mr-1 ml-1">
               <!--Grid column-->
               <div class="col-md-4 mb-r">
                  <i class="fa fa-area-chart red-text"></i>
                  <h5 class="feature-title">Skills</h5>
                  <p class="grey-text text-justify">Constantly striving to further my skills as a programmer, I am always up for trying new areas and learning new techniques. My current skills consist of Java, Javascript, C#, C++, Node.js, Angular 5, Firebase, HTML, etc.</p>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="col-md-4 mb-r">
                  <i class="fa fa-book cyan-text"></i>
                  <h5 class="feature-title">Work</h5>
                  <p class="grey-text text-justify">My current job is in mobile and web application development, where I was recently tasked with creating an HR training app accompanied with an online content management system utilising Angular 5 and Firebase. </p>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="col-md-4 mb-r">
                  <i class="fa fa-coffee orange-text"></i>
                  <h5 class="feature-title">Hobbies</h5>
                  <p class="grey-text text-justify">My spare time is spent building prototypes for games, learning new engines and frameworks, and developing small side projects, as well as enjoying the occasional video or board game.</p>
               </div>
               <!--Grid column-->
            </div>
            <!--Grid row-->
         </section>
         <!--Section: Features v.1-->
      </div>
   </div>
</div>
